
.page-song .panel {
    margin: 20px auto;
    width: calc(80% - 100px);
    background: white;
    box-shadow: 0 0 5px 0 black;
    border-radius: 20px;
    padding: 50px;
}

.page-song .titlebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-song .panel .topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: justify;
}


.page-song .panel .topbar img {
    width: 30%;
    flex-shrink: 0;
    border-radius: 50%;
    margin-left: 50px;
}

.page-song .main-infos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
}

.page-song .additional-infos {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.page-song .additional-infos > div {
    width: 25%;
}

.page-song .additional-infos > div ul {
    padding-left: 0;
    list-style: none;
}

.page-song .additional-infos > div strong {
    padding-left: 0;
}

.page-song .additional-infos > div span {
    display: block;
    margin-top: 15px;
}

.page-song .bottombar {
    display: flex;
    flex-wrap: nowrap;
    margin: 20px 0;
}

.page-song .bottombar .video {
    width: 100%;
    flex-shrink: 100;
    display: flex;
}